body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 105, 180);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}
.header{
    font-family: 'Nunito';
    font-size: 30px;
    color: white;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100%;
}
.gif{
    width:20px;
    height:30px;
}
